//COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-third-light: #2998ff;
$color-third-dark: #5643fa;

$color-grey-dark: #777;
$color-grey-dark-2: #333;

$color-white: #fff;

$color-black: #000;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;




//GRID
$grid-width: 114rem;
$grid-width-land: 100rem;
$grid-width-port: 50rem;
$grid-width-phone: 45rem;


$gutter-horizontal: 6rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;

