.popup{
    background-color: rgba($color-black, .8);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;

    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    &:target{
        opacity: 1;
        visibility: visible;
    }

    &__close{
        &:link,
        &:visited {
            color: $color-grey-dark;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            transition: all .2s;
            line-height: 1;
        }

        &:hover {
            color: $color-primary;
        }
    }

    &__content{
        background-color: $color-white;
        width: 70%;
        position: absolute;
        top: 50%;
        left: 50%;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        border-radius: .3rem;
        display: table;
        overflow: hidden;
        opacity: 0;
        transform: translate(-50%, -50%) scale(.25);
        transition: all .4s .1s;
    }

    &__img{
        width: 100%;
        display: block;
    }

    &__right{
        width: 70%;
        display: table-cell;
        padding: 2rem;
        vertical-align: middle;
        vertical-align: middle;
    }

    &__left{
        width: 30%;
        display: table-cell;
    }

    &__text{
        font-size: 1.2rem;

        -moz-column-count: 2;
        -moz-column-gap: 4rem; 
        -moz-column-rule: 1px solid $color-grey-light-2;

        column-count: 2;
        column-gap: 4rem; 
        column-rule: 1px solid $color-grey-light-2;

        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }

    &:target &__content{
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}