.section-about{
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh;
}

.section-feature{
    padding: 20rem 0;
    background-image: linear-gradient( 
        to right bottom, 
        rgba($color-primary-light,0.8), 
        rgba($color-primary-dark,0.8)) , 
    url("../img/nat-4.jpg");
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -15rem;
    // clip-path: polygon(0 30%, 100% 0, 100% 73%, 0 100%);

    & > *{
        transform: skewY(7deg);
    }
}

.section-tour{
    background-color: $color-grey-light-1;
    padding: 25rem 0 12rem 0;
    margin-top: -12rem;
}

.section-story{
    padding: 15rem 0;
    position: relative;
}

.section-booking{
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);

    @include responsive(tab-port){
        // padding: 15rem -50rem;
    }
}

.booking{
    // height: 53rem;

    background-image: linear-gradient( 
        105deg, 
        rgba($color-white,0.9) 0%, 
        rgba($color-white,0.9) 50%, 
        transparent 50%) , 
    url("../img/nat-10.jpg");
    background-size: cover;
    border-radius: .3rem;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .25);

    &__form{
        width: 50%;
        padding: 6rem;
    }

    @include responsive(tab-port){
        background-image: linear-gradient(to right, 
        rgba($color-white, .9) 0%,
        rgba($color-white, .9) 100%),
        url(../img/nat-10.jpg);

        &__form{
            width: 100%;
        }
        
    }
}

@include responsive(tab-port){
    .another{
        max-width: 80rem ;
    }
}

@include responsive(phone){
    .another{
        max-width: 45rem ;
    }
}